@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base { 
  .textArea h2 {
    font-size: 18px;
    margin-bottom: 24px;
    margin-top: 30px;
  }

  .textArea p {
    margin-bottom: 14px;
  }

  .textArea ul li {
    list-style: disc;
    margin-left: 24px;
    margin-bottom: 14px;
  }

  .newsProductsFlex > section > div {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .clampTitleSection{
    font-size: clamp(1.5rem, -0.63rem + 3vw, 2.25rem);
  }
  .scrollbar-minicart::-webkit-scrollbar {
    width: 3px;
  }

  .scrollbar-minicart::-webkit-scrollbar-thumb {
    background-color: #000;
    border-radius: 20px;
  }

  @media (min-width: 1024px) {
    .gridBestSellers {
      grid-template-columns: 30% 59%;
    }
  }

   @media (min-width: 1300px) {
    .gridBestSellers {
      grid-template-columns: 40% 59%;
    }
  }

  .linkReadMore a {
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    text-decoration: underline;
    color: #CE0F69;
  }

  .textHighlightPopup strong {
    font-family: Fraunces;
    font-size: 54px;
    background: linear-gradient(90deg, #D62C79 0.31%, #E4A1AE 60.5%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-style: italic;
    font-weight: 700;
    line-height: 110%;
    padding-right: 12px;
  }

  @media (min-width: 1024px) {
    .textHighlightPopup strong {
      font-size: 64px;
    }
  }

  .textHighlightBannerCategory strong {
    font-family: Fraunces;
    font-size: 32px;
    color: #CE0F69;
    text-align: center;
    font-style: italic;
    font-weight: 600;
    line-height: 140%;
    padding-right: 12px;
  }

  @media (min-width: 1024px) {
    .textHighlightBannerCategory strong {
      font-size: 50px;
    }
  }

  .textHighlight strong {
    font-family: Fraunces;
    font-size: 36px;
    background: linear-gradient(90deg, #D62C79 0.31%, #E4A1AE 60.5%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-style: italic;
    font-weight: 700;
    line-height: 110%;
  }

  .textIconHighLight strong {
    font-family: Fraunces;
    text-transform: lowercase;
    font-size: 32px;
    color:#CE0F69;
    font-style: italic;
    font-weight: 600;
    line-height: 130%;
  }
  
  .textWithStrong strong {
    font-family: Fraunces;
    font-style: italic;
    font-weight: 600;
    line-height: 130%;
  }

  .textCategoryHighlight p {
    font-family: 'Red Hat Display';
    color: black;
    font-weight: 400;
    font-size: 20px;
  }

  .textCategoryHighlight strong {
    font-family: Fraunces;
    font-style: italic;
    font-weight: 600;
    line-height: 130%;
    font-size: 28px;
    text-transform: capitalize;
  }

  @media (min-width: 1024px) {
    .textIconHighLight strong {
      font-size: 42px;
      text-transform: lowercase;
    }

    .textCategoryHighlight p {
      font-size: clamp(1.5rem, 0.5rem + 1.25vw, 2rem);
      line-height: 1;
    }
    .textCategoryHighlight strong {
      font-size: clamp(1.75rem, 0rem + 2.1875vw, 2.625rem);
    }

  }
  
  .containerLeftCategory{
    margin-left: clamp(5.0625rem, -45.6875rem + 52.8646vw, 17.75rem);
  }

  .popup strong {
    font-size: 60px !important;
  }

  /* Allow changing font family via CMS */
  html {
    font-family: var(--font-family);
  }

  mark {
    @apply bg-accent text-accent-content;
  }

  /** Remove default styles from input[type=number] */
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  :root:has(:is(.modal-open, .modal:target, .modal-toggle:checked + .modal, .modal[open])) {
      overflow: auto !important;
  }
}

.group:disabled .group-disabled\:animate-progress {
  animation: progress-frame ease normal
}

@keyframes progress-frame {
  0% {
    --dot-progress: 0%
  }

  to {
    --dot-progress: 100%
  }
}

@media (min-width: 1280px) {
  .bestSellers ul {
    gap: 0;
  }

}