@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  .textHighlight strong {
    font-family: Fraunces;
    font-size: 36px;
    background: linear-gradient(90deg, #D62C79 0.31%, #E4A1AE 60.5%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-style: italic;
    font-weight: 700;
    line-height: 110%;
  }

  .textIconHighLight strong {
    font-family: Fraunces;
    font-size: 22px;
    color:#CE0F69;
    font-style: italic;
    font-weight: 600;
    line-height: 130%;
  }

  @media (min-width: 1024px) {
    .textIconHighLight strong {
      font-size: 30px;
    }
  }
  
  
  .textWithStrong strong {
    font-family: Fraunces;
    font-style: italic;
    font-weight: 600;
    line-height: 130%;
  }

  .textCategoryHighlight strong {
    font-family: Fraunces;
    font-style: italic;
    font-weight: 600;
    line-height: 130%;
    font-size: 42px;
  }

  .popup strong {
    font-size: 60px !important;
  }

  /* Allow changing font family via CMS */
  html {
    font-family: var(--font-family);
  }

  mark {
    @apply bg-accent text-accent-content;
  }

  /** Remove default styles from input[type=number] */
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Disable scroll once drawer/modal is openned */
  body:has(.drawer-toggle:checked),
  body:has(.modal-toggle:checked) {
    overflow: hidden;
    height: 100vh;
  }
}

.group:disabled .group-disabled\:animate-progress {
  animation: progress-frame ease normal
}

@keyframes progress-frame {
  0% {
    --dot-progress: 0%
  }

  to {
    --dot-progress: 100%
  }
}